<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .center {
            text-align: center;
            margin-top: 50px; /* Ajustez la marge selon vos besoins */
        }
    </style>
    <title>Contactez-nous</title>
</head>
<body>
    <div classe= "center">
    <h1>Contactez-moi</h1>
    <form action="/contact/" method="post">
        <label for="nom">Engowei </label> <label for="prenom">Shelton </label><br>
        
        <label for="message">Bienvnue sur ma page de contact </label><br>
    </div>
        <label for="message">Mail : Sheltymal@gmail.com</label><br>
        <label for="message">Téléphone : 0101010101</label><br>
        <label for="message">adresse : 242 rue du faubourg saint-antoine</label><br>
        <label for="message">Site : shelton.alwaysdata.net</label><br>
        
    </form>
</body>
</html>
