<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactez-nous</title>
</head>
<body>
    <h1>Contactez-nous</h1>
    <form action="/contact/" method="post">
        <label for="nom">Engowei </label> <label for="prenom">Shelton :</label>
        
        <label for="message">Bienvnue sur ma page de contact :</label><br>

        <label for="message">Mail :  :</label><br>
        <label for="message">Téléphone :  :</label><br>
        <label for="message">adresse :  :</label><br>
        <label for="message">Site : shelton.alwaysdata.net  :</label><br>
        
    </form>
</body>
</html>
